# Ignore all data files
raw_data/

# Ignore all derivative files
derivatives/

# Ignore data folder inside code/task folder
code/task/data/

# Ignore temporary R & matlab files
*.Rhistory
*.RData
*.mat 

# Ignore MacOS junk
.DS_Store
