# Ignore all data files
data/

# Ignore all derivative files
derivatives/

# Ignore logs
logs/simulation/*

# Ignore data folder inside code/task folder
code/task/data/

# Ignore temporary R & matlab files
*.Rhistory
*.RData
*.mat
._* 

# Ignore MacOS junk
.DS_Store

# Ignore task directory
task/*

# Ignore logs
logs/*

# Ignore knitted notbooks
*.html

# Ignore picture files
*.png
*.jpeg


