abind==1.4.5
adlift==1.4.1
askpass==1.1
av==0.6.0
backports==1.2.1
base==4.1.2
base64enc==0.1.3
beeswarm==0.3.1
BH==1.75.0.0
binhf==1.0.3
boot==1.3.28
broom==0.7.6
bslib==0.3.1
cachem==1.0.6
callr==3.7.0
car==3.0.10
carData==3.0.4
cellranger==1.1.0
class==7.3.19
classInt==0.4.3
cli==2.5.0
clipr==0.7.1
cluster==2.1.2
codetools==0.2.18
colorspace==2.0.1
commonmark==1.7
compiler==4.1.2
conquer==1.0.2
cowplot==1.1.1
cpp11==0.2.7
crayon==1.4.1
crosstalk==1.1.1
curl==4.3.1
data.table==1.14.0
datasets==4.1.2
DBI==1.1.1
digest==0.6.27
dotCall64==1.0.1
dplyr==1.0.6
e1071==1.7.7
EbayesThresh==1.4.12
ellipsis==0.3.2
emmeans==1.6.1
estimability==1.3
evaluate==0.14
fansi==0.4.2
farver==2.1.0
fastmap==1.1.0
fields==13.3
fontawesome==0.2.2
forcats==0.5.1
foreign==0.8.81
fs==1.5.0
gdata==2.18.0
generics==0.1.0
getopt==1.20.3
gganimate==1.0.7
ggbeeswarm==0.6.0
ggforce==0.3.3
gghalves==0.1.1
ggplot2==3.3.3
gifski==1.4.3.1
glue==1.4.2
gmodels==2.18.1
graphics==4.1.2
grDevices==4.1.2
grid==4.1.2
gridExtra==2.3
gtable==0.3.0
gtools==3.8.2
haven==2.4.1
here==1.0.1
highr==0.9
hms==1.1.0
htmltools==0.5.2
htmlwidgets==1.5.3
httpuv==1.6.1
httr==1.4.2
IRdisplay==1.0
isoband==0.2.4
jquerylib==0.1.4
jsonlite==1.7.2
kableExtra==1.3.4
KernSmooth==2.23.20
knitr==1.33
labeling==0.4.2
later==1.2.0
lattice==0.20.45
lazyeval==0.2.2
lemon==0.4.5
lifecycle==1.0.0
lme4==1.1.27
lpSolve==5.6.15
magrittr==2.0.1
mapproj==1.2.7
maps==3.4.0
maptools==1.1.1
markdown==1.1
MASS==7.3.54
Matrix==1.3.4
MatrixModels==0.5.0
matrixStats==0.58.0
methods==4.1.2
mgcv==1.8.38
mime==0.10
minqa==1.2.4
munsell==0.5.0
mvtnorm==1.1.1
nlme==3.1.153
nloptr==1.2.2.2
nnet==7.3.16
numDeriv==2016.8.1.1
openssl==1.4.4
openxlsx==4.2.3
optextras==2019.12.4
optimr==2019.12.16
optparse==1.6.6
pacman==0.5.1
papeR==1.0.5
parallel==4.1.2
patchwork==1.1.1
pbkrtest==0.5.1
pillar==1.6.1
pkgconfig==2.0.3
plotly==4.9.4.1
plyr==1.8.6
png==0.1.7
polyclip==1.10.0
prettyunits==1.1.1
processx==3.5.2
progress==1.2.2
promises==1.2.0.1
proxy==0.4.25
ps==1.6.0
purrr==0.3.4
pwr==1.3.0
quantreg==5.85
R6==2.5.0
rappdirs==0.3.3
Rcgmin==2013.2.21
RColorBrewer==1.1.2
Rcpp==1.0.6
RcppArmadillo==0.10.4.0.0
RcppEigen==0.3.3.9.1
RcppGSL==0.3.9
RcppZiggurat==0.1.6
readr==1.4.0
readxl==1.3.1
rematch==1.0.1
remotes==2.4.2
repr==1.1.3
reshape2==1.4.4
Rfast==2.0.3
rgeos==0.5.8
rio==0.5.26
rlang==0.4.11
rmarkdown==2.11
rpart==4.1.15
rprojroot==2.0.2
rstudioapi==0.13
rvest==1.0.1
Rvmmin==2018.4.17.1
rworldmap==1.3.6
sass==0.4.0
scales==1.1.1
sdamr==0.1.0
selectr==0.4.2
servr==0.22
setRNG==2013.9.1
sf==0.9.8
shiny==1.7.1
sourcetools==0.1.7
sp==1.4.5
spam==2.7.0
SparseM==1.81
spatial==7.3.14
splines==4.1.2
stats==4.1.2
stats4==4.1.2
stringdist==0.9.8
stringi==1.6.2
stringr==1.4.0
survival==3.2.13
svglite==2.0.0
sys==3.4
systemfonts==1.0.2
tcltk==4.1.2
tibble==3.1.2
tidyr==1.1.3
tidyselect==1.1.1
tinytex==0.32
tools==4.1.2
transformr==0.1.3
tweenr==1.0.2
units==0.7.1
utf8==1.2.1
utils==4.1.2
vctrs==0.3.8
vipor==0.4.5
viridis==0.6.1
viridisLite==0.4.0
wavethresh==4.6.8
webshot==0.5.2
withr==2.4.2
xaringan==0.21
xfun==0.23
xml2==1.3.2
xtable==1.8.4
yaml==2.2.1
zip==2.1.1
